[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Klik2 Application
ServiceTypes=ThumbCreator
MimeTypes=application/x-application-cmg
X-KDE-Library=isofsthumbnail
CacheThumbnail=true
