[Desktop Entry]
Comment=Compressed Application Image (ISO)
Hidden=false
MimeType=application/x-extension-cmg
Patterns=*.cmg
Type=MimeType
Icon=application-x-extension-cmg

