[Desktop Entry]
Encoding=UTF-8
Name=Klik2
MimeType=application/x-extension-cmg; application/x-extension-cmg-recipe
Exec=klik
Type=Application
Terminal=false
NoDisplay=true
